@font-face {
	font-family: 'Avenir Next LT Pro';
	src: url('./fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
	url('./fonts/AvenirNextLTPro-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'LEMON MILK';
	src: url('./fonts/LEMONMILK-Light.woff2') format('woff2'),
	url('./fonts/LEMONMILK-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

//@font-face {
//	font-family: 'LEMON MILK';
//	src: url('./fonts/LEMONMILK-Regular.woff2') format('woff2'),
//	url('./fonts/LEMONMILK-Regular.woff') format('woff');
//	font-weight: normal;
//	font-style: normal;
//	font-display: swap;
//}

.expense {
	position: relative;
}

.expense::after {
	position: absolute;
	content: "";
	height: 71px;
	background-color: #a81313;
	width: 4px;
	top: -39px;
	left:-65px;
}

.income {
	position: relative;
}

.income::after {
	position: absolute;
	content: "";
	height: 71px;
	background-color: rgba(14, 94, 0, 0.71);
	width: 4px;
	top: -39px;
	left:-65px;
}
